<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
        <title>Inquirist | polls</title>
        <meta charset="utf-8" />
    </head>
    <body>
      <div th:replace="fragments/header :: header"></div>  
    	  	 <div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>ERROR</h1>
		<p>
		Aie, il semble que quelque chose ne c'est pas passé comme prevue ...
		</p>
		<a th:href="@{/}"  class="btn btn-primary">HOME</a>
		</div>
		</div>
    </body>
</html>