<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of all persons</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>List of all persons</h1>
        <table>
            <thead>
                <tr>
                	<th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Category</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody th:remove="all-but-first">
                <tr th:each="person : ${persons}">
                 	<td th:text="${person.id}"></td>
                    <td th:text="${person.prenom}"></td>
                    <td th:text="${person.nom}"></td>
                    <td th:text="${person.categorie.nom}"></td>
                    <td>
                    	<a th:href="@{/persons/{id}/remove(id=${person.id})}">Delete</a>
                    </td>
                    <td>
                    	<a th:href="@{/persons/{id}(id=${person.id})}">Detail</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <a href="/persons/create">New person</a>
    </body>
</html>
