<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inquirist | polls</title>
<meta charset="utf-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<h1>List of all polls</h1>

	<form th:action="@{/polls}" th:object="${filter}" method="get">
		<table>
			<tr>
				<td>Filter on title:</td>
				<td><input type='text' name='title' th:field="*{title}"></td>
			</tr>
			<tr>
				<td>Filter on description:</td>
				<td><input type='text' name='title' th:field="*{description}"></td>
			</tr>
			<tr>
				<td>Filter on number min of votes:</td>
				<td><input type='number' name='nbMinVotes' th:field="*{nbMinVotes}" min="0"></td>
			</tr>
			<tr>
				<td>Filter on number max of votes:</td>
				<td><input type='number' name='nbMaxVotes' th:field="*{nbMaxVotes}" min="0"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Filter" /></td>
			</tr>
		</table>
	</form>
	
	<a href="/polls">Reset filters</a>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>description</th>
				<th>StartDate</th>
				<th>Owner</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="poll : ${pollsPage.content}">
				<td th:text="${poll.id}"></td>
				<td th:text="${poll.title}"></td>
				<td th:text="${poll.description}"></td>
				<td th:text="${poll.startDate}"></td>
				<td th:text="${poll.owner.name}"></td>
				<td><a th:href="@{/polls/{id}/remove(id=${poll.id})}">Delete</a>
				</td>
				<td><a th:href="@{/polls/{id}(id=${poll.id})}">Detail</a></td>
				<td><a th:href="@{/polls/result/{id}(id=${poll.id})}">Result</a></td>

			</tr>
		</tbody>
	</table>
	
	<div th:if="${pollsPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
	    <a th:href="@{/polls(size=${pollsPage.size}, page=${pageNumber}, title=${filter.title}, description=${filter.description}, nbMinVotes=${filter.nbMinVotes}, nbMaxVotes=${filter.nbMaxVotes})}" th:text=${pageNumber} th:class="${pageNumber==pollsPage.number + 1} ? active"></a>
	</div>

	<div sec:authorize="hasAuthority('WRITER')">
		<a href="polls/create">Create Poll</a>
	</div>
</body>
</html>