<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inquirist | users</title>
<meta charset="utf-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<h1>List of all users</h1>
	
	<form th:action="@{/users/filter}" th:object="${filter}" method="post">
      	<table>
         	<tr>
            	<td>Filter on username:</td>
            	<td><input type='text' name='username' th:field="*{username}" autofocus="true"></td>
         	</tr>
         	<tr>
            	<td><input type="submit" value="Filter"/></td>
         	</tr>
      	</table>
      	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  	</form>
  	
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.name}"></td>
				<td><a th:href="@{/users/{id}/remove(id=${user.id})}">Delete</a>
				</td>
				<td><a th:href="@{/users/{id}(id=${user.id})}">Detail</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
