<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sign up</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>

		<h1>Sign up as a new user</h1>
		<form th:action="@{/insert}" th:object="${user}" method="post">
			<label for="username">username</label>
			<input type="text" th:field="*{username}" />

			<label for="password">password</label>
			<input type="password" th:field="*{password}" />
			
			<label for="password">password confirm</label>
			<input type="password" th:field="*{passwordConfirm}" />

			<label for="name">name</label>
			<input type="text" th:field="*{name}" />
			
			<select th:field="*{role}">
			    <option th:each="r : ${T(com.example.demo.model.Role).values()}" th:value="${r}" th:text="${r}"></option>
			</select>
			
			<input type="submit" value="Sign up"/>
		</form>
	</body>
</html>
