<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inquirist | users</title>
<meta charset="utf-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<h1>List of all users</h1>
	
	<form th:action="@{/users}" th:object="${filter}" method="get">
      	<table>
         	<tr>
            	<td>Filter on username:</td>
            	<td><input type='text' name='username' th:field="*{username}" autofocus="true"></td>
         	</tr>
         	<tr>
            	<td><input type="submit" value="Filter"/></td>
         	</tr>
      	</table>
  	</form>
  	
  	<a href="/users">Reset filters</a>
  	
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="user : ${usersPage.content}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.name}"></td>
				<td><a th:href="@{/users/{id}/remove(id=${user.id})}">Delete</a>
				</td>
				<td><a th:href="@{/users/{id}(id=${user.id})}">Detail</a></td>
			</tr>
		</tbody>
	</table>
	
	<div th:if="${usersPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
	    <a th:href="@{/users(size=${usersPage.size}, page=${pageNumber}, username=${filter.username})}" th:text=${pageNumber} th:class="${pageNumber==usersPage.number + 1} ? active"></a>
	</div>
</body>
</html>
